<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Professores</title>
    <style>
        table#tabela1 tr td {
            /* Toda a tabela com fundo creme*/
            background: #ffc;
        }

        table#tabela1 tr.cabeca td {
            background: #eee;
            /*Linhas com fundo cinza*/
        }
    </style>
</head>
<body>
    <h1>Professores</h1>
    <table id="tabela1" border="1px" cellpadding="5px" cellspacing="0">
        <tr class="cabeca">
            <td>Nome</td>
            <td>E-mail</td>
        </tr>
        <% console.log('QUANTIDADE DE REGISTROS->'+profs.length); %>

        <% for(var i=0; i < profs.length;i++) {%>
            <tr>
                <td><%=profs[i].NOME_PROFESSOR%></td>
                <td><%=profs[i].EMAIL_PROFESSOR%></td>
            </tr>

            <%}%>
    </table>
    <h2>Grande Munari</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQc_NKDbW6X1jGhgIQQSZz_sZgMxvRVqWWt2K44Bvsnrk5y64pbm6ucyNx_ARR7W7szV0&usqp=CAU">

    <h2>Colossal Jeff</h2>
    <img src="https://media.licdn.com/dms/image/C4E03AQEU42j17WmCRA/profile-displayphoto-shrink_200_200/0/1629420051527?e=2147483647&v=beta&t=sTu4jCeoiWcCM6LvPlEpSf1Mf7ksl6750VRTUC2Z4zc">
</body>
</html>