div {
    min-width: 500px;
    min-height: 500px;
    text-align: center;
    margin: auto;
}

div h2 ::after{
    content: "color";
    color: inherit;
}

@media (min-width: 0px) {
    div {
        background-color: gray;
    }

    div h2::before {
        color:black;
        content: "Cinza";
    }
}

@media (min-width: 421px) {
    div {
        background-color: orange;
    }

    div h2::before {
        content: "Laranja";
    }
}


@media (min-width: 769px) {
    div {
        background-color: pink;
    }

    div h2::before {
        content: "Rosa";
    }
}

@media (min-width: 1025px) {
    div {
        background-color: red;
    }

    div h2::before {
        content: "Vermelho";
    }
}

@media (min-width: 1081px) {
    div {
        background-color: purple;
    }

    div h2::before {
        content: "Roxo";
    }
}

@media (min-width: 1367px) {
    div {
        background-color: yellow;
    }

    div h2::before {
        content: "Amarelo";
    }
}

@media (min-width: 1921px) {
    div {
        background-color: green;
    }

    div h2::before {
        content: "Verde";
    }
}