body {
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h3 {
    text-align: center;
}

#form-tarefa label {
    font-weight: bold;
}

#lista-tarefas .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para as diferentes categorias */
.categoria-pessoal {
    border-left: 5px solid #28a745; /* Verde */
}

.categoria-profissional {
    border-left: 5px solid #007bff; /* Azul */
}

.categoria-academica {
    border-left: 5px solid #ffc107; /* Amarelo */
}

/* Estilos para as diferentes prioridades */
.prioridade-alta {
    color: #dc3545; /* Vermelho */
}

.prioridade-media {
    color: #ffc107; /* Amarelo */
}

.prioridade-baixa {
    color: #28a745; /* Verde */
}

/* Estilos para tarefas próximas do prazo (a ser implementado com JavaScript) */
.proximo-prazo {
    background-color: #ffeeba; /* Amarelo claro */
}

/* Ícones para ações (editar, excluir) - usando Font Awesome (você precisa incluir a biblioteca) */
.acoes i {
    margin-left: 10px;
    cursor: pointer;
}

.acoes .fa-edit {
    color: #007bff; /* Azul */
}

.acoes .fa-trash-alt {
    color: #dc3545; /* Vermelho */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    margin-left: 100px;
}

header .user svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em; /* Espaçamento entre o ícone e o nome */
}

header .user {
    display: flex; /* Adicionando flexbox para o usuário */
    align-items: center; /* Alinhar verticalmente */
    margin-right: 60px; /* Espaçamento à direita */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#lista-tarefas .badge {
    margin-left: 10px; /* Espaçamento à esquerda */
  }