/* Estilização geral da página */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header .usuario svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em; /* Espaçamento entre o ícone e o nome */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilização do formulário */
#formulario-tarefa label {
    display: block;
    margin-bottom: 5px;
}

#formulario-tarefa input,
#formulario-tarefa textarea,
#formulario-tarefa select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Estilização da lista de tarefas */
#lista-tarefas li, 
#lista-tarefas-pessoal li, 
#lista-tarefas-profissional li, 
#lista-tarefas-academica li { /* Estilos para todas as listas */
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Estilos para os ícones de status DENTRO do LI */
    .pendente {
        color: #f0ad4e; /* Cor laranja para pendente */
        margin-right: 5px; /* Espaçamento à direita */
    }

    .concluida {
        color: #5cb85c; /* Cor verde para concluída */
        margin-right: 5px; /* Espaçamento à direita */
    }
}

.concluida {
    text-decoration: line-through;
    color: #999;
}

.proxima {
    border-left: 5px solid orange;
}

.urgente {
    border-left: 5px solid red;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilização das colunas */
.colunas {
    display: flex;
    gap: 20px; /* Espaçamento entre as colunas */
}

.coluna {
    flex: 1; /* Distribui o espaço igualmente entre as colunas */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.conteudo-modal {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    position: relative;
}

.fechar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar-modal:hover,
.fechar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}