body {
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h3 {
    text-align: center;
}

#form-tarefa label {
    font-weight: bold;
}

#lista-tarefas .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 992px) {
  #lista-tarefas .list-group-item {
    flex-wrap: wrap;  /* Permitir que os elementos quebrem para a próxima linha */
  }
}

/* Estilos para celulares (até 768px) */
@media (max-width: 768px) {
  #lista-tarefas .list-group-item {
    flex-direction: column; /* Mudar para layout vertical */
  }
}

#descricao, 
#editar-descricao {
  resize: vertical; /* Permite que o usuário redimensione verticalmente */
}

.textarea-limitada {
    max-height: 160px; /* Defina a altura máxima desejada */
    overflow-y: auto;  /* Adiciona barra de rolagem vertical quando necessário */
}

/* Estilos para as diferentes categorias */
.categoria-pessoal {
    border-left: 5px solid #28a745; /* Verde */
}

.categoria-profissional {
    border-left: 5px solid #007bff; /* Azul */
}

.categoria-academica {
    border-left: 5px solid #ffc107; /* Amarelo */
}

/* Estilos para as diferentes prioridades */
.prioridade-alta {
    color: #dc3545; /* Vermelho */
}

.prioridade-media {
    color: #ffc107; /* Amarelo */
}

.prioridade-baixa {
    color: #28a745; /* Verde */
}

/* Estilos para tarefas próximas do prazo (a ser implementado com JavaScript) */
.proximo-prazo {
    background-color: #ffeeba; /* Amarelo claro */
}

/* Ícones para ações (editar, excluir) - usando Font Awesome (você precisa incluir a biblioteca) */
.acoes i {
    margin-left: 10px;
    cursor: pointer;
}

.acoes .fa-edit {
    color: #007bff; /* Azul */
}

.acoes .fa-edit:hover {
    color: #0050a7; /* Azul */
}

.acoes .fa-trash-alt {
    color: #dc3545; /* Vermelho */
}

.acoes .fa-trash-alt:hover {
    color: #801e28; /* Vermelho */
}

.acoes .fa-check-square {
    cursor: pointer;    /* Torna o ícone clicável */
    color: #28a745;   /* Define a cor do ícone (verde neste caso) */
    margin-left: 10px; /* Adiciona um espaçamento à esquerda */
}
  
.acoes .fa-check-square:hover {
    color: #1e7e34;   /* Cor mais escura no hover */
}

/* Estilos para o status da tarefa */
.status-pendente {
    color: #dc3545; /* Vermelho para pendente */
    background-color: #dc3545; /* Adiciona a cor de fundo para o status pendente */
    color: white; /* Define a cor da fonte como branca */
}

.status-encerrada {
    color: #28a745; /* Verde para encerrada */
    background-color: #28a745;
    color: white;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.logo {
    margin-left: 100px;
}

header .user svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em; /* Espaçamento entre o ícone e o nome */
}

header .user {
    display: flex; /* Adicionando flexbox para o usuário */
    align-items: center; /* Alinhar verticalmente */
    margin-right: 60px; /* Espaçamento à direita */
}

#nome-usuario, 
#nome-usuario svg {
  cursor: pointer;
}

@media (max-width: 768px) {
    header {
      flex-direction: row; /* Coloca os elementos em linha */
      justify-content: space-between; /* Distribui o espaço entre os elementos */
      align-items: center; /* Alinha os elementos verticalmente */
      padding: 10px 20px; /* Ajusta o espaçamento interno para telas menores */
    }
  
    .logo {
      margin-left: 0; /* Remove a margem esquerda da logo */
      font-size: 1.2em; /* Diminui o tamanho da logo */
    }
  
    header .user {
      margin-right: 0; /* Remove a margem direita do usuário */
    }
  
    header .user svg {
      width: 1.2em; /* Diminui o tamanho do ícone do usuário */
      height: 1.2em;
    }
  }

.bottom-footer {
    margin-top: 80px;
    position:relative;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    position:fixed;
    width: 100%;
}

#lista-tarefas .badge {
    margin-left: 10px; /* Espaçamento à esquerda */
}

.list-group-item.hoverable:hover {
    background-color: #f0f0f0; /* Cor de fundo mais escura no hover */
    cursor: pointer;         /* Muda o cursor para uma mãozinha */
}

.status-concluido {
    text-decoration: line-through; /* Adiciona uma linha riscando o texto */
    color: gray;                  /* Muda a cor do texto para cinza */
}

.notificacao {
    position: fixed;
    /* Centralizar na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 20px; /* Aumentei um pouco o padding */
    border-radius: 8px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra mais suave */
    z-index: 10; 
}
  
.opcoes-notificacao {
    margin-top: 10px;
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Alinha os itens verticalmente */ 
}

.opcoes-notificacao input[type="checkbox"] { 
    margin-right: 8px;    /* Adiciona espaço entre o checkbox e o label */
}
  
.opcoes-notificacao label {
    margin-top: 10px;
    line-height: 1;      /* Ajusta a altura da linha do label para melhor alinhamento */
}
  
.notificacao h3 { /* Se você adicionar um título à notificação */
    color: #343a40; /* Cor de texto escura */
}
  
.notificacao p {
    margin-bottom: 10px; 
}
  
#fechar-notificacao {
    background-color: transparent; /* Remover cor de fundo do botão */
    border: none;                /* Remover borda do botão */
    padding: 5px 10px;            /* Ajustar espaçamento interno do botão */
    cursor: pointer;              /* Tornar o cursor uma mãozinha */
}
  
#fechar-notificacao:hover {
    text-decoration: underline;   /* Sublinhar o texto ao passar o mouse */
}

@media (max-width: 992px) {
    .sidebar {
      width: 200px;  /* Reduzir a largura */
    }
  }

.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Inicialmente oculto fora da tela */
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 11; 
    overflow-y: auto;  /* Adicione esta linha para permitir rolagem se o conteúdo for maior que a altura da tela */
    background-color: #333;
}
  
.sidebar.active {
    right: 0; 
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre o ícone e o nome */
}

.user-info svg {
    width: 30px;
    height: 30px;
}

.user-info #nome-usuario-sidebar {
    margin: 10px 0px 0px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}

.close-sidebar {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
    margin: 20px 10px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.button-sidebar-menu {
    margin-bottom: 10px;
    text-align: center;  /* Centraliza o texto dentro do <li> */
}

.area-btn-sidebar-menu {
    padding: 10px 55px 10px 55px;
    text-decoration: none;
    border-radius: 5px;
}

.area-btn-sidebar-menu:hover {
    background-color: #424242;
    cursor: pointer;
    text-decoration: none;
}

.txt-btn-sidebar-menu {
    color: #ccc;
}